* {
    margin: 0 !important;
    padding: 0 !important; 
}

body {
    height: 5000px;
    overflow-x: hidden;
}

.size {
    height: 3000px;
    width: 2177px;
}
.size2 {
    height: 3072px;
    width: 2177px;
}
.size3 {
    height: 1599px;
    width: 2177px;  
}


#scene1 {
    background-image: url(img/rock.png);
}
#scene2 {
    background-image: url(img/rock2.png);
}
#scene3 {
    background-image: url(img/rock3.png);
}

.changeBackground {
    background-color: blue !important;
}
/*Nuage*/
#anim {
    overflow: hidden;
}

#anim ul.cloud {
    text-align: center;
    list-style: none;
}

/*Selects every <p> element that is the first child of its parent:*/
#anim ul.cloud li {
    color: #DCDCDC;
    font-size: 200px;
    position: absolute;
}

/* Durée animation mes lapinoux */
/*Selects every <p> element that is the second child of its parent:*/
#anim ul.cloud li:nth-child(1) {
    -webkit-animation: cloud-move 9s linear infinite normal;
    animation: cloud-move 9s linear infinite normal;
}

#anim ul.cloud li:nth-child(2) {
    -webkit-animation: cloud-move 11s linear infinite normal;
    animation: cloud-move 11s linear infinite normal;
}

/* Distance de l'animation mes lapinoux ! */

@-webkit-keyframes cloud-move {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }

    100% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@keyframes cloud-move {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }

    100% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}
/* Oiseau */

  #bird {
    height: 100px;
    position: relative;
  }
  #bird1 {
    height: 100px;
    position: relative;
  }
  #bird2 {
    height: 100px;
    position: relative;
  }
  #bird3 {
    height: 100px;
    position: relative;
  }
